peewee==3.13.3
six==1.15.0
cachetools==4.1.1
lmdb==0.98
numba==0.50.1
numpy~=1.19.2
requests==2.24.0
protobuf==3.12.2
pycryptodome==3.4.7
pycryptodomex==3.9.8
PyMySQL==0.10.0
Deprecated==1.2.10
gmpy2==2.0.8
grpcio~=1.34.0
grpcio-tools==1.29.0
scipy==1.5.1
findspark==1.4.2
clickhouse-driver==0.1.4
sklearn==0.0
psutil==5.7.2
tablestore==5.1.0
aliyun-python-sdk-core
aliyun-python-sdk-fnf
aliyun-python-sdk-cms
aliyun-fc2
aliyun-python-sdk-sts==3.0.2
flask~=1.1.2
werkzeug~=1.0.1
oss2==2.14.0
scikit-learn==0.19.2
tensorflow>=2.4.1
torch
torchvision
coverage==4.5.2
pandas==1.1.5
pytorch-lightning

# 用于获取网络接口相关信息 https://pypi.org/project/netifaces/
netifaces==0.11.0