@import './_normalize.scss';

html, body, article, hgroup, figure, main, section, header, footer, aside, nav, video, audio, canvas, details, h1, h2, h3, h4, h5, h6, div, p, dl, dd, ul, li, ol, label, form, input, img, textarea, th, tr, td, button, select, a, span, em, i, sub, sup, pre, code, table {
    box-sizing:border-box;
}

/**
 * font, line height...
 */
body {
    font-family: $font-family;
    font-size: $font-size-larger;
    background-color: $background-color-base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $color-text-base;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6,
ul, li, ol, dl, dt, dd,
figure, p {
    padding: 0;
    margin: 0;
    font-weight: normal;
    word-wrap: break-word;
}

/**
 * a tag color
 */

a {display: inline-block;
    color: $color-link-base;
    text-decoration: none;
    font-size: inherit;
    outline: none;
    cursor: pointer; /* fix for IOS10.3 */
    &:hover{
        color: $color-link-base-hover;
        text-decoration: underline;
    }
}

img{
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

ul{list-style: none;
    padding-inline-start:0;
}

// scrollbar style for windows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
   -webkit-appearance: none !important;
}
input[type="number"]{-moz-appearance:textfield;}

// reset element-plus style
.el-table__body{
    .el-tag{
        height: auto;
        white-space: normal;
    }
}
.el-card{z-index: 1;}
.el-radio__label{padding-left: 5px;}
.el-dialog__header{min-height: 50px;}
.el-loading-parent--relative{z-index: 10;}
.el-table__empty-block{width: 100% !important;}
.el-scrollbar__bar{z-index: 1000;}
.el-button--medium,
.el-button--small{
    .el-loading-spinner{margin-top: -10px;}
    .circular{
        width: 20px;
        height: 20px;
    }
}
.el-table th.is-leaf {
    font-size: 14px;
}
