// 所有 scss 文件都不用手动引入变量, webpack 中已自动处理
@import "./_variable.scss";
@import "./_element-ui.scss";
@import "./_reset.scss";
@import "./_main.scss";
@import "../../themeconfig/theme.css";

/* 全局 loading */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s ease-in;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.plr{position: relative;}
.pla{position: absolute;}
.float-left{float: left;}
.float-right{float: right;}

/* 内容区样式 */
.el-container{flex-basis:0;}
.base-container {
    overflow-x: hidden;
    position: relative;
    padding-top: 50px;
}

.base-wrapper{
    // min-height: 500px;
    &>.fade-enter-active,
    &>.fade-leave-active {
        position: absolute;
        left: 41px;
        right: 41px;
    }
}

/* 自定义页面滚动条样式 */
.customed-scrollbar{
    height: 100vh;
    overflow: hidden;
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: rgba(0,0,0,0.1);
    }
    ::-webkit-scrollbar-track {
        border-radius: 0;
        background: rgba(0,0,0,0.05);
    }
    ::-webkit-scrollbar-corner{background: rgba(0,0,0,0.1);}
}

fieldset {
    border-radius: 4px;
    border-width: thin;
    margin-bottom: 15px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 0.1);
    legend {
        color: $color-link-base;
        padding-left: 8px;
        padding-right: 8px;
    }
}

