gmpy2==2.1.2
six==1.15.0
cachetools==4.1.1
numba==0.50.1
numpy==1.19.0
pycryptodome==3.4.7
pycryptodomex==3.9.8
Deprecated==1.2.10
scipy==1.5.1
psutil==5.7.2
peewee==3.13.3
requests==2.24.0
protobuf==3.12.2
PyMySQL==0.10.0
sklearn
grpcio==1.29.0
grpcio-tools==1.29.0
clickhouse-driver==0.1.4
tornado
tablestore==5.1.0
aliyun-python-sdk-core
flask
gunicorn
aliyun-python-sdk-sts==3.0.2
werkzeug
aliyun-fc2
aiohttp==3.7.3
oss2==2.14.0
pandas==1.1.5
netifaces==0.11.0