job_id: job_0004
task_id: task_0002
job_type: paddle_fl
role: promoter
member_id: master1
callback_url: https://www.xxx.com
env:
  proposal_wait_time: 5
  worker_num: 2
  local_worker_num: 2
  local_trainer_indexs: [0,1]
  device: cpu
  use_vdl: true
  server_endpoint: 127.0.0.1:12002
  aggregator_endpoint: 127.0.0.1:12003
  aggregator_assignee: worker2
algorithm_config: ./yolov3_mobilenet_v1_fruit.yml
