version: "3"
services:

  wefe_serving_website:
    image: wefe_serving_website:v.2.1 # wefe_version
    ports:
      - 80:80 # website_port
    restart: always
    privileged: true
    networks:
      - network
    volumes:
      - "./mount/index.html:/opt/website/html/serving-website/index.html"
      - "./mount/default.conf:/etc/nginx/conf.d/default.conf"
      - "./mount/html:/opt/website/html"

networks:
  network:
    driver: bridge